NODE_ENV=development
PORT=3000
DATABASE_URL=
CORS_ORIGIN=http://localhost:3000
REDIS_HOST=
REDIS_PORT=
CLERK_SECRET_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
MASTRA_API_KEY=
GEOAPIFY_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=